/* SECTION 1 PAGE */
.section1-page1{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.boite1{
    flex: 1;
    background-color: #F7F7F7;
    padding-top: 30px;
}

.contenu-boite1, .contenu-boite2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenu-boite1 h1, .contenu-boite2 h1, .contenu-boite2 h1 a{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.cours-extérieurs{
    margin: 50px;
}

.boite2{
    flex: 1;
    background-color: #F7F7F7;
    padding-top: 30px;
}

.section1-page1-hr{
    margin: 30px;
}

/*  */
#carroussel{
    width: 640px;
    overflow: hidden;
    display: flex;
}

.images{
    display: flex;
    animation-duration: 20s;
    animation-name: diapo;
    animation-iteration-count: infinite;
}

@keyframes diapo {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-850px);
    }
    100%{
        transform: translateX(0);
    }
}
/*  */

.diapo h1{
    margin: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
}

.diapo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fft{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.fft h1{
    margin: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
}

.fft img{
    display: flex;
    justify-content: center;
}

/* FOOTER*/
@media screen and (max-width: 1000px){
    .container{
        flex-direction: column;
    }
    .box:nth-child(2){
        background-color: #F7F7F7;
        margin: 0;
    }
    .section1-page1{
        flex-direction: column;
    }
    p.footer-bio{
        margin: 10px;
    }
}
/* FOOTER */
.container-footer{
    display: flex;
    flex-wrap: wrap;
}
.section1-footer{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.gris{
    background-color: #f7f7f7;
}
.footer-bio{
    width: 70%;
    margin: 20px;
}
.fa-facebook{
    font-size: 30px;
    color: var(--bleufoncefond);
    margin: 15px;
}

.section2-footer{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section2-footer h1{
    margin: 50px;
    text-transform: uppercase;
}
.section2-footer ul li{
    display: flex;
    flex-direction: column;
}

.section2-footer ul li i{
    margin: 15px;
}

.section2-footer ul li i a{
    margin: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
@media screen and (max-width: 670px){
    .container-footer{
        flex-direction: column;
    }
    .section1-footer{
        width: 100%;
    }
    .section2-footer{
        width: 100%;
        padding-bottom: 50px;
        background-color: #F7F7F7;
    }
    
}