:root{
    --bleufoncefond : #033664;
    --bleuclairhover: #3984C8;
}

*{
    margin: 0;
    padding: 0;
}

.section1{
    height: 100vh;
    position: relative;
}

.section1 .section-image {
    filter: brightness(0.6); /* Ajustez la valeur pour obtenir l'effet souhaité */
    width: 100%;
    height: 100%;
    background-size: cover;
}

navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotch{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 2vw;
}

ul {
    list-style: none;
    overflow: hidden;
    background-color: var(--bleufoncefond);
    
}
  
li {
    display: flex;
}

li a {
    color: white;
    text-align: center;
    padding: 3vh 1vw;
    text-decoration: none;
    width: 150px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

li a:hover {
    background-color: var(--bleuclairhover);
    border-bottom: 4px solid #fff;
}
