/* SECTION 1 PAGE */
.section1-page1{
    min-height: 100vh;
    display: flex;
}
.boite1{
    flex: 1;
    background-color: #F7F7F7;
    padding-top: 30px;
}

.contenu-boite1, .contenu-boite2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenu-boite1 h1, .contenu-boite2 h1, .contenu-boite2 h1 a{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.cours-extérieurs{
    margin: 50px;
}

.boite2{
    flex: 1;
    background-color: #F7F7F7;
    padding-top: 30px;
}

.section1-page1-hr{
    margin: 30px;
}

/*  */
#carroussel{
    width: 640px;
    overflow: hidden;
    display: flex;
}

.images{
    display: flex;
    animation-duration: 20s;
    animation-name: diapo;
    animation-iteration-count: infinite;
}

@keyframes diapo {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-850px);
    }
    100%{
        transform: translateX(0);
    }
}
/*  */

.diapo h1{
    margin: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
}

.diapo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fft{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.fft h1{
    margin: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
}

.fft img{
    display: flex;
    justify-content: center;
}

/* Styles spécifiques pour les écrans de taille <= 768 pixels */
@media screen and (max-width: 1310px) {
    
    
 
 }