.section-contact{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;}
.section-contact h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    margin: 10px;}
.form{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.espace{
    margin-bottom: 3vh;
}

label{
    display: block;
    margin: 8px;
}

.input{
    
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    .box-grise:nth-child(2){
        background-color: #fff;
    }
    .copyright-gris{
        background-color: #fff;
    }
}