/* SECTION MAIN */
.section-main{
    background-color: #f7f7f7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.section-main h1{
    font-family: 'Lato', sans-serif;
    font-weight: 800;}
.section-main p, .section-main .googlemaps{
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;}

/* SECTION BUREAU */
.section-le-bureau{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.section-le-bureau h1{
    font-family: 'Lato', sans-serif;
    font-weight: 800;}

/* SECTION INSCRIPTION ET TARIFS */
.section-inscription-et-tarifs{
    background-color: #f7f7f7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.section-inscription-et-tarifs h1 {
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;}
.btn-telecharger{
    margin-top: 30px;
    background-color: #3984C8;
    color: white;
    padding: 10px;
    /* font-size: 1.5rem; */
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;}

/* SECTION AIDE A LA PRATIQUE SPORTIVE */
.section-aides-pratique-sportive{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.section-aides-pratique-sportive h1{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    margin: 10px;}
.section-aides-pratique-sportive .p1, .p2,.p3,.p4{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 10px;}
.section-aides-pratique-sportive .p2{
    width: 1100px;}
.section-aides-pratique-sportive .p4 a{
    text-decoration: none;}

/* SECTION INSTALLATIONS DU TCH */
.section-installations-tch{
    background-color: #f7f7f7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.section-installations-tch h1{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    margin: 10px;}
.section-installations-tch p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 10px;}

#carroussel{
    width: 640px;
    overflow: hidden;
    display: flex;}
.images{
    display: flex;
    animation-duration: 20s;
    animation-name: diapo;
    animation-iteration-count: infinite;}
@keyframes diapo {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-900px);
    }
    40%{
        transform: translateX(-1600px);
    }
    60%{
        transform: translateX(-2450px);
    }
    80%{
        transform: translateX(-3150px);
    }
    100%{
        transform: translateX(0);
    }}
   
/* SECTION HISTORIQUE PRESIDENCE */
.section-historique-presidence{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.section-historique-presidence h1{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    margin: 10px;}

/* SECTION CALENDRIER ANIMATIONS */
.section-calendrier-animations-2022-2023{
    background-color: #f7f7f7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.section-calendrier-animations-2022-2023 h1{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    margin: 10px;}

/* SECTION GALERIE PHOTOS */
.section-galerie-photos{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.section-galerie-photos h1{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    margin: 10px;}

